@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://www.tryring.ai/assets/bg-hello-f16bb296.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
